.Main {
    width: 70%;
    margin: 4em auto;
}


.Main .CreateNewDiv {
    margin: 0 auto;
    margin-bottom: 5em;
    height: 10em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Main .TableList {}

.CreateNewBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 0.25em;
    color: #636060;
    cursor: pointer;

    font-size: 1em;
    padding: 1.5em 2.3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    background-color: #fff;
    border: 1.5px solid #232323;
    color: #232323;
}

.CreateNewBtn:active,
.CreateNewBtn:hover {
    outline: 0;
}