.Footer {
    width: 100%;
    bottom: 0;
    display: inline-flex;
    position: fixed;
    background-color: var(--light-black);
    color: #fff;
    align-items: center;
    justify-content: space-around;
    cursor: default;
    padding: 0.4em 0;
    z-index: 99;
}

.Footer p {
    font-size: 0.8em;
}

.Footer div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}