.Footer {
    bottom: 0;
    display: inline-flex;
    width: 100%;
    gap: 4px;
    position: fixed;
    background-color: #232323;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 0.3em 0;
    cursor: default;
}

.Footer p {
    font-size: 0.8em;
}

.Footer div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}